img {
  max-width: 100px;
  max-height: 100px;
}
.jumbotron{
  background-color: orange;
  color: aliceblue;
}
h1 {
  text-align: center;
}
.form-group {
  font-size: 20px;
  padding: 15px;
}
#c {
  float: left;
  text-align: center;
  font-size: 15px;
  padding-right: 4%;
}
#javascript {
  float: left;
  text-align: center;
  font-size: 15px;
  padding-right: 5%;
}
#python {
  float: left;
  text-align: center;
  font-size: 15px;
  padding-right: 5%;
}
#swift {
  float: left;
  text-align: center;
  font-size: 15px;
}
body {
  background-color: whitesmoke);
}
.language {
  font-size: 40px;
  color: red;
}
#output {
  padding: 1%;
}
