img {
  max-width: 100px;
  max-height: 100px;
}
.jumbotron{
  background-color: orange;
  color: aliceblue;
  ;
}
h1 {
  text-align: center;
}
.form-group {
  font-size: 15px;
}
#c {
  float: left;
}
#javascript {
  float: left;
}
#python {
  float: left;
}
#swift {
  float: left;
}
img {
  max-width: 100;
  max-height: 100;
}